<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
      <RollingFile  name="PayUOrder" fileName="logs/payu-order.log" filePattern="logs/$${date:yyyy-MM}/db-to-adoc-%d{MM-dd-yyyy}-%i.log.gz">
        <PatternLayout pattern="[%d{dd/MM/yy HH:mm:ss}] %5p [%c{1}]: %m%n"/>
        <Policies>
          <TimeBasedTriggeringPolicy />
          <SizeBasedTriggeringPolicy size="10 MB"/>
        </Policies>
        <DefaultRolloverStrategy max="7"/>
      </RollingFile >
    </Appenders>
    <Loggers>
      <Logger name="org.smaszno.payu" level="DEBUG">
        <AppenderRef ref="PayUOrder"/>
      </Logger>
    </Loggers>
</Configuration>


